@import '~bootstrap/scss/bootstrap';

@import './header.scss';
@import './footer.scss';
#home{
    padding: 100px;
    .container{
        justify-content: space-between;
        gap: 20px;
    }
    .card{
        background-color: none;
        width: calc((100% / 6) - 20px);
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    img {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

}

#singlePage{

        width: 80%;
        margin: 80px auto;
        display: flex;
        justify-content: center;
        gap: 40px;
    .container-page{

        width: 70%;
        padding: 15px;

        .commerc{
            .price{
                display: inline-block;
                width: 85%;
                border-right: 1px solid #2e2e2e;
                padding: 10px;
            }

            background-color: #23be23;

        }
    }
}
